body {
    font-family: "Roboto", sans-serif;
    margin: 0;
  }
  
  .header-bg {
    position: relative;
    height: 100vh;
    background-image: url('../images/beach.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4); /* the dark overlay */
    z-index: 1;
  }
  
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding-top: 30px;
    position: relative;
    z-index: 2;
  }
  
  .logo {
    width: 180px;
  }
  
  /* Default hide nav + hamburger */
  #navbar {
    transition: right 0.3s ease;
  }
  


  .hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  background-color: white !important;
}

.hamburger {
    right: -10px !important; /* added this to push the hamburger over a bit to line up with the content below it */
    @media all and (min-width: 992px) { /* mobile first, hide it on desktop */
      display: none;
    }
  }
  
  /* Navigation list desktop */
  nav ul li {
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    margin-right: 20px;
    padding: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: all 0.3s;
    text-transform: uppercase;
  }
  
  nav ul li a:hover {
    color: rgb(255, 132, 0);
  }

.tagline {
  position: relative;
  z-index: 1;
  height: calc(100% - 93px); /* 93px is the height of the <header> - ask chatgpt what this code is doing to understand */
  display: flex;
  justify-content: center;
  align-items: center;
}


.tagline h1 {
  text-align: center;
  font-size: 40px;
  color: white;
  /* margin-top: 200px; */ /* naughty code, see above code on tagline class to see how we center this text within the header section */
  text-shadow: 2px 2px 8px rgba(0,0,0,0.6);
  font-style: italic;
}

/* BG Colours */
.bg-green {
  background-color: rgb(15, 70, 15);
}
.bg-pink {
  background-color: rgb(121, 34, 109);
}
.bg-blue {
  background-color: rgb(50, 136, 186);
}
.bg-orange {
  background-color: rgb(207, 111, 59);
}

  /* Mobile view styles */
  @media (max-width: 991px) {
    .hamburger {
      display: block;
      position: absolute;
      color: white;
      top: 30px;
      right: 30px;
      z-index: 110;
    }
  
    #navbar {
      position: fixed;
      background: rgb(255, 132, 0);
      height: 100vh;
      width: 250px;
      top: 0;
      right: -250px;
      z-index: 105;
      padding-top: 80px;
    }
  
    #navbar ul {
      list-style: none;
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;

    }
  
    #navbar ul li {
      display: block;
      text-align: left;
    }
  
    #navbar ul li a {
      font-size: 1.4rem;
      color: white;
    }
  }

  /* Two columns section */
  #twocolumns-section {
    padding: 50px 30px; /* mobile */
    @media all and (min-width: 992px) { /* desktop */
      padding: 100px 0px;
    }
  }
  .second-col-pt {
    padding-top: 80px;
  }
  .bg-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
    width: 100%;

  }
  .bg-image-1 {
    background-image: url('../images/starfish.jpg');
  }
  .bg-image-2 {
    background-image: url('../images/sunset.jpg');
  }
  .inner-content {
    padding-right: 0px; /* remove the padding right for mobile */
    @media all and (min-width: 992px) {
      padding-right: 120px; /* padding-right for desktop devices only */
    }
  }
  .inner-content_secondcol {
    padding-left: 0px;
    @media all and (min-width: 992px) {
      padding-left: 120px;
    }
  }
  .btn-primary {
    background-color: #FEE29C;
    border-radius: 25px;
    color: #000;
    padding: 10px 20px;
    border: 0;
  }
  .btn-secondary {
    background-color: #FFB8BB;
    border-radius: 25px;
    color: #000;
    padding: 10px 20px;
    border: 0;
  }
  .btn-primary:hover {
    border: 0;
    background-color: #d1af58;
  }
  .btn-secondary:hover {
    border: 0;
    background-color: #eb797f;
  }

  .adventure-section {
    background-image: url('../images/rocks.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  
  .adventure-section::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: 1;
  }
  
  .adventure-section .content {
    position: relative;
    z-index: 2;
  }
  

  .centered-narrow {   
    max-width: 700px;   /* bring adventure text in */
    margin: 0 auto;
  }


  footer ul li a {
    text-decoration: none;
    color: #000;
  }


  footer ul li a:hover {
    text-decoration: none;
    color: rgb(255, 132, 0);
  }

  footer ul {
    list-style-type: none;
    font-family: sans-serif;
    font-weight: bolder;
    gap: 2px;
    padding-left: 0; /* always add this to remove padding we don't want for all devices */
    text-align: center; /* center the ul for mobile devices */
    @media all and (min-width: 992px) {
      text-align: left; /* remove center for desktop devices */
    }
  }


  .copyright {
    font-weight: bolder;
    font-size: 14px;
  }
  

.social-media {
  font-size: 1.1rem;
}