.btn {
    color: antiquewhite;
}


.btn-primary {
    background-color: #335940;
    border-radius: 25px;
    color: #fff;
    padding: 10px 20px;
    border: 0;
  }
  .btn-secondary {
    background-color: #335940;
    border-radius: 25px;
    color: #fff;
    padding: 10px 20px;
    border: 0;
  }
  .btn-primary:hover {
    border: 0;
    background-color: #6D997D;
  }
  .btn-secondary:hover {
    border: 0;
    background-color: #6D997D;
  }

  