.btn {
    color: antiquewhite;
}


.btn-primary {
    background-color: #FEE29C;
    border-radius: 25px;
    color: #000;
    padding: 10px 20px;
    border: 0;
  }
  .btn-secondary {
    background-color: #FFB8BB;
    border-radius: 25px;
    color: #000;
    padding: 10px 20px;
    border: 0;
  }
  .btn-primary:hover {
    border: 0;
    background-color: #d1af58;
  }
  .btn-secondary:hover {
    border: 0;
    background-color: #eb797f;
  }