footer {
    background-color: $green;

    ul {
        font-weight: bolder;
        gap: 2px;
        padding-left: 0;
        text-align: center;

        @media all and (min-width: 992px) {
            text-align: left;
        }

        li {
            list-style: none;
            margin-right: 10px;
            display: inline-block;

            &:last-of-type {
                margin-right: 0;
            }

            a {
                text-decoration: none;
                color: $white;

                &:hover {
                    text-decoration: none;
                    color: $black;
                }
            }
        }
    }
}
.copyright {
    font-weight: bolder;
    font-size: 14px;
    color: $white;
}

.social-media {
    font-size: 1.1rem;
}
