body {
    font-family: "Roboto", sans-serif;
    margin: 0;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4); /* the dark overlay */
    z-index: 1;
  }


  /* BG Colours */
.bg-green {
  background-color: rgb(15, 70, 15);
}
.bg-pink {
  background-color: rgb(121, 34, 109);
}
.bg-blue {
  background-color: rgb(50, 136, 186);
}
.bg-orange {
  background-color: rgb(207, 111, 59);
}
  
  