// Colours
$black: #000;
$white: #fff;

$lightpink: #FFB8BB;
$coral: #eb797f;

$lightgold: #FEE29C;
$gold: #d1af58;

$yellow: #FFFF00;
$green: #335940;
$brown: #4D4021;

// Fonts
$roboto: "Roboto", sans-serif;

// Text
$heading1: 40px;
$heading2: 30px;
$paragraphs: 18px;
